In [3]:
import pandas as pd
from pathlib import Path

In [4]:
csvpath = Path("../python-homework_Palmy/budget_data.csv")

In [5]:
budget_dataframe = pd.read_csv(csvpath)
budget_dataframe

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [6]:
budget_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
Total_months = budget_dataframe['Date'].count()
Total_months

86

In [8]:
Total_pnl = budget_dataframe['Profit/Losses'].sum()
Total_pnl

38382578

In [9]:
Pnl_List = budget_dataframe['Profit/Losses'].tolist()
len(Pnl_List)

86

In [10]:
average_change_list = []
average_change_list_org = []

In [11]:
for i in range(1,len(Pnl_List)):
    average_change = Pnl_List[i] - Pnl_List[i-1]
    average_change_list.append(average_change)
    average_change_list_org.append(average_change)
    average_change = sum(average_change_list) / len(average_change_list)
average_change

-2315.1176470588234

In [12]:
average_change_list.sort()

In [13]:
greatest_decrease = average_change_list[0]
greatest_increase = average_change_list[len(average_change_list)-1]

In [14]:
minimum = average_change_list_org.index(greatest_decrease) + 1
maximum = average_change_list_org.index(greatest_increase) + 1

In [15]:
Greatest_Increase_Profits = budget_dataframe['Date'][maximum]
Greatest_Decrease_Profits = budget_dataframe['Date'][minimum]

In [16]:

Greatest_Decrease_Profits

'Sep-2013'

In [17]:
Greatest_Increase_Profits

'Feb-2012'

In [22]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {Total_months}")
print(f"Total Profit/Losses: ${Total_pnl}")
print(f"Average Change: {average_change}")
print(f"Greatest Increase in Profits: {Greatest_Increase_Profits,greatest_increase}")
print(f"Greatest Decrease in Losses: {Greatest_Decrease_Profits,greatest_decrease}")

Financial Analysis
----------------------------
Total Months: 86
Total Profit/Losses: $38382578
Average Change: -2315.1176470588234
Greatest Increase in Profits: ('Feb-2012', 1926159)
Greatest Decrease in Losses: ('Sep-2013', -2196167)

In [58]:
with open(output_path, 'w') as file:
    file.write("This is the output file\n")
    file.write("main.ipynb")
    file.write("Financial Analysis")
    file.write("Total Months: 86")
    file.write("Total Profit/Losses: $38382578")
    file.write("Average Change: -2315.1176470588234")
    file.write("Greatest Increase in Profits: ('Feb-2012', 1926159)")
    file.write("Greatest Decrease in Losses: ('Sep-2013', -2196167)")

In [59]:
output_path = Path("output.txt")

In [60]:
Path.cwd()

PosixPath('/Users/bpalmy/Desktop/python-homework_Palmy')